.career {
    padding: 17.5rem 0 6.4rem;
    .career_title {
        display: block;
        font-size: 8.6rem;
        font-weight: 800;
    }
    .career_desc {
        padding-top: 1.4rem;
        font-size: 1.8rem;
        font-weight: 600;
    }
}
