.projects {
    padding: 14rem 0;

    .projects_title {
        display: block;
        font-size: 8.6rem;
        font-weight: 800;
    }
    .projects_desc {
        padding-top: 1.4rem;
        padding-bottom: 7rem;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .projects_wrap {
        padding-top: 9rem;
        > li ~ li {
            margin-top: 12rem;
        }
        > li {
            display: flex;
            align-items: center;
            justify-content: center;
            .projects_img {
                width: 54.8rem;
            }
            .projects_container {
                padding-left: 15.2rem;
                &.right {
                    padding-left: 0;
                    padding-right: 15.2rem;
                }
                ul {
                    display: flex;
                    li {
                        padding: 0 1.2rem;
                        display: flex;
                        align-items: center;
                        border: 1px solid #959595;
                        color: #cccccc;
                        border-radius: 3rem;
                        height: 3rem;
                    }
                    li ~ li {
                        margin-left: 1rem;
                    }
                }
                span {
                    margin-top: 7.2rem;
                    display: block;
                    font-size: 2.2rem;
                    font-weight: 600;
                }
                .projects_txt {
                    position: relative;
                    display: inline-block;
                    padding: 1.6rem 0 4rem;
                    font-size: 7.2rem;
                    font-weight: 600;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &.plantopia::after {
                        right: -17rem;
                        width: 32rem;
                        height: 32rem;
                        background: url("../../../assets/images/gradient3.png")
                            no-repeat center / contain;
                    }
                    &.rabbit::after {
                        left: -17rem;
                        width: 32rem;
                        height: 32rem;
                        background: url("../../../assets/images/gradient4.png")
                            no-repeat center / contain;
                    }
                }
                p {
                    padding-bottom: 6rem;
                    color: #cccccc;
                    font-size: 1.8rem;
                    line-height: 2.9rem;
                }
                a {
                    display: inline-block;
                    padding: 0 7.2rem 0 4rem;
                    border: 1px solid #ffffff;
                    border-radius: 3rem;
                    height: 5.6rem;
                    line-height: 5.6rem;
                    font-size: 2rem;
                    font-weight: 500;
                    background: url("../../../assets/images/icons/icon_arrow_projects.png")
                        no-repeat right 3rem center / 3.4rem;
                }
            }
        }
    }
}

@media all and (max-width: 1400px) {
    .projects {
        .projects_wrap {
            > li {
                .projects_img {
                    width: 40rem;
                }
            }
        }
    }
}

@media all and (max-width: 1170px) {
    .projects {
        .projects_wrap {
            > li {
                .projects_container {
                    padding-left: 8rem;
                }
            }
        }
    }
}

@media all and (max-width: 1090px) {
    .projects {
        .projects_wrap {
            > li {
                flex-direction: column;
                position: relative;
                text-align: center;

                &.reverse {
                    flex-direction: column-reverse;
                }

                .projects_container {
                    padding-left: 0;
                    padding-top: 4rem;
                    ul {
                        justify-content: center;
                    }
                    span {
                        margin-top: 4rem;
                    }

                    &.right {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 900px) {
    .projects {
        padding-top: 7rem;
        .projects_title {
            font-size: 7.2rem;
        }
        .projects_desc {
            padding-bottom: 0;
            font-size: 1.6rem;
        }
    }
}

@media all and (max-width: 700px) {
    .projects {
        .projects_wrap {
            > li {
                .projects_img {
                    width: 30rem;
                }
                .projects_container {
                    ul {
                        li {
                            font-size: 1.2rem;
                        }
                    }
                    a {
                        padding: 0 6rem 0 3rem;
                        font-size: 1.6rem;
                        background-position: right 2rem center;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                    span {
                        font-size: 1.8rem;
                    }
                    .projects_txt {
                        font-size: 4.8rem;
                        &.plantopia {
                            &::after {
                                right: auto;
                                left: -10rem;
                                width: 24rem;
                                height: 24rem;
                            }
                        }
                        &.rabbit {
                            &::after {
                                left: -10rem;
                                width: 24rem;
                                height: 24rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 430px) {
    .projects {
        padding-top: 5rem;
        .projects_title {
            font-size: 4.8rem;
        }
        .projects_desc {
            font-size: 1.4rem;
        }
        .projects_wrap {
            > li {
                .projects_container {
                    ul {
                        flex-wrap: wrap;
                        margin: -0.5rem;
                        li {
                            margin: 1rem;
                        }
                        li ~ li {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
