.about {
    position: relative;
    padding: 25.3rem 0 12rem;

    .gradient_wrap1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 83.1rem;
        img {
            width: 100%;
        }
    }

    .about_txt {
        .line {
            position: relative;
            width: 100%;
            border-top: 1px solid #ffffff;
        }
        strong {
            height: 28.7rem;
            padding-top: 2.6rem;
            display: inline-block;
            font-size: 6.8rem;
            font-weight: 600;
            &.pad_508 {
                padding-left: 50.8rem;
            }
        }
        .arrow {
            &::before {
                content: "";
                position: absolute;
                bottom: -5.2rem;
                left: 0;
                width: 3.2rem;
                height: 3.2rem;
                background: url("../../../assets/images/icons/icon_arrow.png")
                    no-repeat center / contain;
            }
        }
    }

    .gradient_wrap2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 83.1rem;
        img {
            width: 100%;
        }
    }

    .txt_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 21.4rem 0;
        p {
            font-size: 2.8rem;

            strong {
                font-size: 3.2rem;
            }
        }
    }
}
