.home {
    height: 100vh;
    min-width: 100%;
    min-height: 92rem;
    .video_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // min-height: 100vh;
        min-width: 100%;
        min-height: 92rem;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        .video_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000 url("../../../assets/images/wave.png") no-repeat
                50% 50%;
            background-size: cover;
        }

        .wave {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            min-width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .text_wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-top: 20rem;

        strong {
            position: relative;
            font-size: 9.8rem;
            margin-bottom: 8rem;
            &::before {
                content: "";
                position: absolute;
                right: -4.2rem;
                bottom: 2.4rem;
                width: 8.4rem;
                height: 6rem;
                background: url("../../../assets/images/circle.png") no-repeat
                    center / 100%;
            }

            &::after {
                content: ".";
                position: absolute;
                right: -8.4rem;
                bottom: 0;
            }
        }

        .scroll {
            position: absolute;
            bottom: -7.2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 3.8rem;
            height: 8.4rem;
            background: url("../../../assets/images/icons/scroll.png") no-repeat
                center / 100%;
        }

        .circle {
            width: 60rem;
            height: 60rem;
            border-radius: 50%;
            overflow: hidden;
            background: linear-gradient(
                180deg,
                rgba(217, 217, 217, 0) 0%,
                rgba(217, 217, 217, 0) 24.48%,
                rgba(217, 217, 217, 0) 44.27%,
                #a1f1f5 75%,
                #6bf2a7 100%
            );
        }
    }
}

@media all and (max-width: 1600px) {
    .home {
        .text_wrap {
            .circle {
                width: 40rem;
                height: 40rem;
            }
            strong {
                font-size: 8.2rem;
                &::before {
                    right: -4.9rem;
                    bottom: 1.3rem;
                    width: 7.1rem;
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .home {
        .text_wrap {
            align-items: flex-start;
            flex-direction: column-reverse;

            .circle {
                width: 36rem;
                height: 36rem;
                position: relative;
                left: 80%;
                transform: translateX(-50%);
            }

            strong {
                padding-top: 2.8rem;
                font-size: 7.2rem;
                &::before {
                    right: -4.9rem;
                    bottom: 1.3rem;
                    width: 7.1rem;
                }
            }
            .scroll {
                width: 3.2rem;
            }
        }
    }
}

@media all and (max-width: 830px) {
    .home {
        .text_wrap {
            .circle {
                width: 34rem;
                height: 34rem;
                left: 70%;
                transform: translateX(-50%);
            }
        }
    }
}

@media all and (max-width: 580px) {
    .home {
        .text_wrap {
            .circle {
                width: 30rem;
                height: 30rem;
                left: 60%;
                transform: translateX(-50%);
            }

            strong {
                padding-top: 8rem;
                font-size: 5rem;
                &::before {
                    right: -4.9rem;
                    bottom: 0.4rem;
                    width: 6.2rem;
                }
            }
        }
    }
}

@media all and (max-width: 430px) {
    .home {
        .text_wrap {
            padding-top: 14rem;
            .circle {
                width: 26rem;
                height: 26rem;
            }

            strong {
                font-size: 4.2rem;
                &::before {
                    right: -4.2rem;
                    bottom: -0.4rem;
                    width: 5.4rem;
                }
                &::after {
                    right: -6.2rem;
                }
            }
        }
    }
}
