header {
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.9rem 0;
    z-index: 99;

    .logo {
        height: 6.6rem;
        img {
            height: 100%;
            display: block;
        }
    }

    .menu_btn {
        position: relative;
        width: 6rem;
        height: 6rem;

        &::before {
            content: "";
            position: absolute;
            top: 2.4rem;
            left: 50%;
            transform: translateX(-50%);
            width: 4rem;
            height: 0.2rem;
            background-color: #ffffff;
        }
        &::after {
            content: "";
            position: absolute;
            top: 3.6rem;
            right: 1rem;
            width: 2.6rem;
            height: 0.2rem;
            background-color: #ffffff;
            transition: all 0.3s;
        }

        &:hover::after {
            width: 4rem;
        }
    }
}
